@model WcfGL.Models.Personne

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Personne</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomPrenomPersonne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomPrenomPersonne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdressePersonne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdressePersonne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelPersonne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelPersonne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailPersonne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailPersonne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateNaissancePersonne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateNaissancePersonne)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPersonne }) |
    @Html.ActionLink("Back to List", "Index")
</p>
